<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CsvHelper" version="12.1.2" targetFramework="net471" />
  <package id="EMGU.CV.CUFFT" version="10.1.105" targetFramework="net471" />
  <package id="EMGU.CV.Native" version="10.1.105" targetFramework="net471" />
  <package id="EMGU.CV-CUDA" version="4.1.0.3425" targetFramework="net471" />
  <package id="IKVM.OpenJDK.Charsets" version="7.2.4630.5" targetFramework="net471" />
  <package id="IKVM.OpenJDK.Core" version="7.2.4630.5" targetFramework="net471" />
  <package id="IKVM.OpenJDK.Security" version="7.2.4630.5" targetFramework="net471" />
  <package id="IKVM.OpenJDK.SwingAWT" version="7.2.4630.5" targetFramework="net471" />
  <package id="IKVM.OpenJDK.Text" version="7.2.4630.5" targetFramework="net471" />
  <package id="IKVM.OpenJDK.Util" version="7.2.4630.5" targetFramework="net471" />
  <package id="IKVM.OpenJDK.XML.API" version="7.2.4630.5" targetFramework="net471" />
  <package id="IKVM.Runtime" version="7.2.4630.5" targetFramework="net471" />
  <package id="LightGBM" version="2.2.3" targetFramework="net471" />
  <package id="Microsoft.Data.DataView" version="0.11.0" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net471" />
  <package id="OpenTK" version="3.1.0" targetFramework="net471" />
  <package id="OpenTK.GLControl" version="3.1.0" targetFramework="net471" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net471" />
  <package id="System.CodeDom" version="4.5.0" targetFramework="net471" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="net471" />
  <package id="System.ComponentModel.Composition" version="4.5.0" targetFramework="net471" />
  <package id="System.Memory" version="4.5.3" targetFramework="net471" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net471" />
  <package id="System.Reflection.Emit.Lightweight" version="4.3.0" targetFramework="net471" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net471" />
  <package id="System.Threading.Tasks.Dataflow" version="4.9.0" targetFramework="net471" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net471" />
  <package id="ZedGraph" version="5.1.7" targetFramework="net471" />
</packages>